body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:rgb(255, 255, 255);
  background-color: #323946;
}
.navbar{
  background-color: #1f242d;
}
span{
  color: aqua;
}
.newsi{
  background-color: #323946;
}
.card{
  background-color: #3b4251;
  color: #ffffff;
  box-shadow: aqua;
}
.card-body{
  color: #ffffff;
}
.author{
  color: #dadada;
}
.card-title{
  color: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
